@Html.ActionLink("All contacts", "Index")

<h2>Create your contact</h2>

<form method="post">
    <label>Name: </label>
    <input name="name" /><br />

    <label>PhoneNumber: </label>
    <input name="phoneNumber" />

    <input type="submit" value="Create" />
</form>